<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>0</integer>
		<key>Name</key>
		<string>General</string>
		<key>Data</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>0</integer>
				<key>Name</key>
				<string>Air Conditioning</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Alarm System</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>2</string>
				<key>Name</key>
				<string>Anti Lock Brakes</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>1</integer>
		<key>Name</key>
		<string>Exterior Options</string>
		<key>Data</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>0</integer>
				<key>Name</key>
				<string>Alloy Wheels</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Chrome Wheels</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>2</string>
				<key>Name</key>
				<string>Premium Wheels</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
