<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>selected</key>
		<false/>
		<key>ImagePathSelected</key>
		<string>edit_transform_btn.png</string>
		<key>Name</key>
		<string>Basic</string>
		<key>KeyIndex</key>
		<string>BAS</string>
		<key>Type</key>
		<string>subview</string>
	</dict>
	<dict>
		<key>selected</key>
		<false/>
		<key>ImagePathSelected</key>
		<string>edit_filters_btn.png</string>
		<key>Name</key>
		<string>Cost</string>
		<key>KeyIndex</key>
		<string>CST</string>
		<key>Type</key>
		<string>subview</string>
	</dict>
	<dict>
		<key>ImagePathSelected</key>
		<string>edit_boarders_btn.png</string>
		<key>selected</key>
		<false/>
		<key>Name</key>
		<string>Options</string>
		<key>KeyIndex</key>
		<string>OPT</string>
		<key>Type</key>
		<string>subview</string>
	</dict>
	<dict>
		<key>selected</key>
		<false/>
		<key>ImagePathSelected</key>
		<string>edit_stickers_btn.png</string>
		<key>Name</key>
		<string>Valuation</string>
		<key>KeyIndex</key>
		<string>VLU</string>
		<key>Type</key>
		<string>subview</string>
	</dict>
	<dict>
		<key>selected</key>
		<false/>
		<key>ImagePathSelected</key>
		<string>edit_draw_btn.png</string>
		<key>Name</key>
		<string>Condition Report</string>
		<key>KeyIndex</key>
		<string>CON</string>
		<key>Type</key>
		<string>subview</string>
	</dict>
	<dict>
		<key>selected</key>
		<false/>
		<key>ImagePathSelected</key>
		<string>edit_text_btn.png</string>
		<key>Name</key>
		<string>Repair Order</string>
		<key>KeyIndex</key>
		<string>RPR</string>
		<key>Type</key>
		<string>subview</string>
	</dict>
	<dict>
		<key>selected</key>
		<false/>
		<key>ImagePathSelected</key>
		<string>edit_brightness_contrast_btn.png</string>
		<key>Name</key>
		<string>Title</string>
		<key>KeyIndex</key>
		<string>TIL</string>
		<key>Type</key>
		<string>subview</string>
	</dict>
	<dict>
		<key>selected</key>
		<false/>
		<key>ImagePathSelected</key>
		<string>edit_hue_saturation_btn.png</string>
		<key>Name</key>
		<string>Pictures</string>
		<key>KeyIndex</key>
		<string>PIC</string>
		<key>Type</key>
		<string>subview</string>
	</dict>
	<dict>
		<key>selected</key>
		<false/>
		<key>ImagePathSelected</key>
		<string>edit_blur_btn.png</string>
		<key>Name</key>
		<string>Files</string>
		<key>KeyIndex</key>
		<string>FIL</string>
		<key>Type</key>
		<string>subview</string>
	</dict>
</array>
</plist>
