<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>0</string>
		<key>Name</key>
		<string>General Options</string>
		<key>Data</key>
		<array>
			<string>Air Conditioning</string>
			<string>Alarm System</string>
			<string>Anti Lock Brakes</string>
			<string>Audio Visual</string>
			<string>Backup Camera</string>
			<string>Bluetooth</string>
			<string>Child Locks</string>
			<string>Child Seat</string>
			<string>Climate Control</string>
			<string>Climate Control Panel</string>
			<string>Driver Airbag</string>
			<string>Front Side Airbag</string>
			<string>Heated Seats</string>
			<string>Heated Steering Wheel</string>
			<string>Keyless Entry</string>
			<string>Leather Seats</string>
			<string>Memory Seats</string>
			<string>Navigation</string>
			<string>OnStar</string>
			<string>Parking Sensors</string>
			<string>Radio Controls</string>
			<string>Rain Sensing Wipers</string>
			<string>Rear Airbags</string>
			<string>Side Airbags</string>
			<string>SunRoof</string>
			<string>Telescopic Steering</string>
			<string>Third Row Seat</string>
			<string>Trip Computer</string>
			<string>Turn Signal Arms</string>
			<string>Video Screen</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>Name</key>
		<string>Exterior Options</string>
		<key>Data</key>
		<array>
			<string>Alloy Wheels</string>
			<string>Chrome Wheels</string>
			<string>Premium Wheels</string>
			<string>Dome Lights</string>
			<string>L RunningBoard</string>
			<string>Moon Roof</string>
			<string>Power Lift Gate</string>
			<string>R RunningBoard</string>
			<string>Rv Ladder</string>
			<string>Sim Top</string>
			<string>Tilt Wheel</string>
			<string>Trailer Hitch</string>
			<string>Trailer Hitch Conver</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>2</string>
		<key>Name</key>
		<string>Audio Options</string>
		<key>Data</key>
		<array>
			<string>Am/Fm CD</string>
			<string>Cassette Player</string>
			<string>CD Changer</string>
			<string>CD Player</string>
			<string>Radio</string>
			<string>Stereo</string>
			<string>Aux Ports</string>
			<string>BT Audio</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>3</string>
		<key>Name</key>
		<string>Power Options</string>
		<key>Data</key>
		<array>
			<string>Power Antenna</string>
			<string>Power Brakes</string>
			<string>Power Driver Seat</string>
			<string>Power Locks</string>
			<string>Power Mirrors</string>
			<string>Power Passenger Seat</string>
			<string>Power Reclining Seats</string>
			<string>Power Seats</string>
			<string>Power Steering</string>
			<string>Power Windows</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>4</string>
		<key>Name</key>
		<string>Accessories Options</string>
		<key>Data</key>
		<array>
			<string>Bedliner</string>
			<string>Center Tonneau</string>
			<string>4 x 4</string>
			<string>Front Tonneau</string>
			<string>Head Lamp Switch</string>
			<string>Heads Up Display</string>
			<string>Instrument Panel</string>
			<string>Rear Tonneau</string>
			<string>Steering Wheel Audio</string>
			<string>Tonneau Cover</string>
			<string>Traction</string>
		</array>
	</dict>
</array>
</plist>
