<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ReferenceId</key>
		<string>0</string>
		<key>Label</key>
		<string>Inventory</string>
		<key>Key</key>
		<string>INV</string>
		<key>StripColor</key>
		<string>#009dd6</string>
	</dict>
	<dict>
		<key>ReferenceId</key>
		<string>1</string>
		<key>Label</key>
		<string>Check in/out</string>
		<key>Key</key>
		<string>CHK</string>
		<key>StripColor</key>
		<string>#0bbbba</string>
		<key>Subitems</key>
		<array>
			<dict>
				<key>ImagePathSelected</key>
				<string>edit_boarders_btn.png</string>
				<key>Name</key>
				<string>Borders</string>
				<key>KeyIndex</key>
				<string>BRR</string>
				<key>Type</key>
				<string>collectionview</string>
			</dict>
			<dict>
				<key>ImagePathSelected</key>
				<string>edit_stickers_btn.png</string>
				<key>Name</key>
				<string>Stickers</string>
				<key>KeyIndex</key>
				<string>STK</string>
				<key>Type</key>
				<string>subview</string>
			</dict>
			<dict>
				<key>ImagePathSelected</key>
				<string>edit_text_btn.png</string>
				<key>Name</key>
				<string>Text</string>
				<key>KeyIndex</key>
				<string>TXT</string>
				<key>Type</key>
				<string>subview</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ReferenceId</key>
		<string>2</string>
		<key>Label</key>
		<string>Detailing</string>
		<key>Key</key>
		<string>DTL</string>
		<key>StripColor</key>
		<string>#67c588</string>
	</dict>
	<dict>
		<key>Subitems</key>
		<array>
			<dict>
				<key>ImagePathSelected</key>
				<string>edit_boarders_btn.png</string>
				<key>Name</key>
				<string>POLAROIDPOPCAMERA</string>
				<key>KeyIndex</key>
				<string>POP</string>
				<key>Type</key>
				<string>collectionview</string>
			</dict>
			<dict>
				<key>ImagePathSelected</key>
				<string>edit_boarders_btn.png</string>
				<key>Name</key>
				<string>Facebook</string>
				<key>KeyIndex</key>
				<string>FFB</string>
				<key>Type</key>
				<string>collectionview</string>
				<key>postSubKey</key>
				<string>FFBSubitem</string>
				<key>Subitem</key>
				<dict>
					<key>ReferenceId</key>
					<string>31</string>
					<key>Label</key>
					<string>Share Settings</string>
					<key>Key</key>
					<string>FBS</string>
					<key>Controller</key>
					<string>HomeScreenVC</string>
					<key>StripColor</key>
					<string>#a7d36b</string>
				</dict>
			</dict>
		</array>
		<key>ReferenceId</key>
		<string>3</string>
		<key>Label</key>
		<string>Auditor</string>
		<key>Key</key>
		<string>AUD</string>
		<key>StripColor</key>
		<string>#a7d36b</string>
	</dict>
	<dict>
		<key>Subitems</key>
		<array>
			<dict>
				<key>Subitems</key>
				<array>
					<dict>
						<key>ImagePathSelected</key>
						<string>edit_boarders_btn.png</string>
						<key>Label</key>
						<string>The Basics</string>
						<key>Key</key>
						<string>S11</string>
						<key>Type</key>
						<string>collectionview</string>
						<key>boldLabel</key>
						<string>Welcome !</string>
						<key>softLabel</key>
						<string>Lets take a brief tour of the Polaroid POP Camera App</string>
						<key>StripColor</key>
						<string>#fecd39</string>
					</dict>
				</array>
				<key>ImagePathSelected</key>
				<string>edit_boarders_btn.png</string>
				<key>Name</key>
				<string>The Basics</string>
				<key>KeyIndex</key>
				<string>BAS</string>
				<key>Type</key>
				<string>collectionview</string>
			</dict>
			<dict>
				<key>Subitems</key>
				<array>
					<dict>
						<key>ImagePathSelected</key>
						<string>edit_boarders_btn.png</string>
						<key>Label</key>
						<string>Editing Photos</string>
						<key>Key</key>
						<string>S12</string>
						<key>Type</key>
						<string>collectionview</string>
						<key>boldLabel</key>
						<string>Smile !</string>
						<key>softLabel</key>
						<string>Let&apos;s go over many options for editing your photos</string>
						<key>StripColor</key>
						<string>#fecd39</string>
					</dict>
				</array>
				<key>ImagePathSelected</key>
				<string>edit_boarders_btn.png</string>
				<key>Name</key>
				<string>Editing Photos</string>
				<key>KeyIndex</key>
				<string>EPH</string>
				<key>Type</key>
				<string>collectionview</string>
			</dict>
			<dict>
				<key>Subitems</key>
				<array>
					<dict>
						<key>ImagePathSelected</key>
						<string>edit_boarders_btn.png</string>
						<key>Label</key>
						<string>Transform</string>
						<key>Key</key>
						<string>S13</string>
						<key>Type</key>
						<string>collectionview</string>
						<key>boldLabel</key>
						<string>Work it</string>
						<key>softLabel</key>
						<string>Time to get these photos in shape</string>
						<key>StripColor</key>
						<string>#fecd39</string>
					</dict>
				</array>
				<key>ImagePathSelected</key>
				<string>edit_boarders_btn.png</string>
				<key>Name</key>
				<string>Transform</string>
				<key>KeyIndex</key>
				<string>TRM</string>
				<key>Type</key>
				<string>collectionview</string>
			</dict>
			<dict>
				<key>Subitems</key>
				<array>
					<dict>
						<key>ImagePathSelected</key>
						<string>edit_boarders_btn.png</string>
						<key>Label</key>
						<string>Creating layouts</string>
						<key>Key</key>
						<string>S14</string>
						<key>Type</key>
						<string>collectionview</string>
						<key>boldLabel</key>
						<string>Time to Curate</string>
						<key>softLabel</key>
						<string>Layouts are great way to combine multiple photos</string>
						<key>StripColor</key>
						<string>#fecd39</string>
					</dict>
				</array>
				<key>ImagePathSelected</key>
				<string>edit_boarders_btn.png</string>
				<key>Name</key>
				<string>Creating layouts</string>
				<key>KeyIndex</key>
				<string>LAY</string>
				<key>Type</key>
				<string>collectionview</string>
			</dict>
			<dict>
				<key>Subitems</key>
				<array>
					<dict>
						<key>ImagePathSelected</key>
						<string>edit_boarders_btn.png</string>
						<key>Label</key>
						<string>Sharing</string>
						<key>Key</key>
						<string>S16</string>
						<key>Type</key>
						<string>collectionview</string>
						<key>boldLabel</key>
						<string>Share the Love</string>
						<key>softLabel</key>
						<string>connect_social_media_creation</string>
						<key>StripColor</key>
						<string>#fecd39</string>
					</dict>
				</array>
				<key>ImagePathSelected</key>
				<string>edit_boarders_btn.png</string>
				<key>Name</key>
				<string>Sharing</string>
				<key>KeyIndex</key>
				<string>SHR</string>
				<key>Type</key>
				<string>collectionview</string>
			</dict>
		</array>
		<key>ReferenceId</key>
		<string>4</string>
		<key>Label</key>
		<string>Manage RO</string>
		<key>Key</key>
		<string>MRO</string>
		<key>StripColor</key>
		<string>#fecd39</string>
	</dict>
	<dict>
		<key>ReferenceId</key>
		<string>5</string>
		<key>Label</key>
		<string>Settings</string>
		<key>Key</key>
		<string>SET</string>
		<key>StripColor</key>
		<string>#fe9c3b</string>
	</dict>
	<dict>
		<key>ReferenceId</key>
		<string>6</string>
		<key>Label</key>
		<string>Support</string>
		<key>Key</key>
		<string>SRT</string>
		<key>StripColor</key>
		<string>#fb665d</string>
	</dict>
	<dict>
		<key>ReferenceId</key>
		<string>7</string>
		<key>Label</key>
		<string>Logout</string>
		<key>Key</key>
		<string>LOG</string>
		<key>StripColor</key>
		<string>#a078b2</string>
	</dict>
</array>
</plist>
